html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
	background: beige;
	height: 5000px;
	overflow: scroll;
}

.section {
	width: 100%;
	display: block;
	min-height: 500px;
}

header {
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: -90px;
	height: 80px;
	background: rgba(117, 76, 36, 0.7);
	background-image: url("../img/pattern.png");
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.7);
	-webkit-transition: .3s top ease;
	-moz-transition: .3s top ease;
	transition: .3s top ease;
}

header.show {
	top: 0;
}

header .mainLogo {
	display: inline-block;
}

header .logoMainTxt {
	font-family: ClickerScript;
	margin-left: 60px;
}

header .logoSubTxt {
	font-family: PoiretOne;
	font-size: 15px;
	color: #000;
}

nav {
	display: inline-block;
	height: 100%;
	float: right;
	width: 65%;
	font-family: PoiretOne;
}

nav ul {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 0;
}

nav li{
	list-style: none;
	display: inline-block;
	width: 20%;
	height: 100%;
	text-align: center;
	font-size: 20px;
}

nav li a {
	display: block;
	height: 100%;
	width: 100%;
	line-height: 80px;
	color: #adbc44;
	text-decoration: none;
	-webkit-transition: 0.4s background linear;
	-moz-transition: 0.4s background linear;
	transition: 0.4s background linear;
}

nav li a:hover {
	background: none repeat scroll 0 0 #adbc44;
	color: #fff;
	box-shadow: 0px 8px 22px -11px #000;
}

header .mainLogo {
	width: 33%;
}

header .mainLogo a {
	text-decoration: none;
	color: #fff;
}

.heroWrapper {
	position: relative;
	width: 100%;
}

.heroWrapper .heroText {
	text-align: center;
}

.heroText h1,
.heroText h3 {
	left: 0;
	margin: auto;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 5;
	font-family: ClickerScript;
}

.heroText h1 {
	line-height: 200px;
	margin-top: -100px;
	background: rgba(117, 76, 36, 0.6);
	background-image: url("../img/pattern.png");
	color: #adbc44;
	font-size: 56px;
	border-bottom: 1px solid;
	border-top: 1px solid;
	font-family: ClickerScript;
}

.heroText h3 {
	line-height: 275px;
	margin-top: -100px;
	font-size: 20px;
	font-family: PoiretOne;
	color: #000;
}

.hero {
	width: 100%;
	overflow: hidden;
}

.hero .heroImg {
	-webkit-transition: 0.4s opacity linear;
	-moz-transition: 0.4s opacity linear;
	transition: 0.4s opacity linear;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}

.hero .heroImg.show {
	opacity: 1;
}

.heroImg.one {
	background-image: url(../img/heroImages/test1.jpg);
}

.heroImg.two {
	background-image: url(../img/heroImages/test2.jpg);
}

.heroImg.three {
	background-image: url(../img/heroImages/test3.jpg);
}

.heroImg.four {
	background-image: url(../img/heroImages/test4.jpg);
}

.heroImg.five {
	background-image: url(../img/heroImages/test5.jpg);
}

.aboutUsBtnWrapper {
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 11;
}

.aboutUsBtnWrapper button {
	margin: 0 auto;
	display: block;
	margin-top: 130px;
	padding: 15px 50px;
	background: rgba(117, 76, 36, 0.8);
	font-family: PoiretOne;
	font-size: 16px;
	color: #adbc44;
	border: 1px solid;
}

.aboutUsBtnWrapper button:hover { 
	background: rgba(117, 76, 36, 1);
	cursor: pointer;
}

@font-face {
  font-family: PoiretOne;
  src: url('font/Poiret_One/PoiretOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Sacramento;
  src: url('font/Sacramento/Sacramento-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Parisienne;
  src: url('font/Parisienne/Parisienne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: ClickerScript;
  src: url('font/Clicker_Script/ClickerScript-Regular.ttf') format('truetype');
}
